
{% load staticfiles %}
<title>Book share</title>
{% if request.user.is_authenticated %}
导航条的变化
{% else %}
导航条
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}" />
<span><h2>{{ book.name }}</h2></span>
<span><h3>{{ book.author }}</h3></span>
<img src="/../../{{ book.pic }}" height="300" width="220">
<span><h3>店铺评分: {{ num }}</h3></span>
<span>{{ book.pub_at }}</span>
<span>{{ book.pub_date }}</span>
<div>{{ book.brief }}</div>
<span><h4>类型：{{ book.types }}</h4></span>
<div>{{ book.content }}</div>

<div>
<p><a href="{% url 'share:rate' book.id %}">评论</a></p>

{% for comment in comments %}
{% if perms.share.can_manage %}
<a href="{% url 'share:cancelcomment' book.id comment.id %}">删除评论</a>
{% if comment.available %}
<a href="{% url 'share:unavaliable' book.id comment.id %}">不可见</a>
{% else %}
<a href="{% url 'share:commentavaliable' book.id comment.id %}">可见</a>
{% endif %}
{% if comment.available %}
<div>
<p>用户:{{ comment.user.username }}</p>
<p>评价:{{ comment.comments }}</p>
<p>时间:{{ comment.date }}</p>
<p>评分:{{ comment.score }}</p>
</div>
{% endif %}
{% if comment.count %}
<i><h4>二十字以上评价</h4></i>
{% endif %}

{% endif %}
{% endfor %}
</div>

<div>
{% if comments.has_previous %}
<a href="?page={{ comments.previous_page_number }}" title="下一页">上一页</a>
{% endif %}

<a href="?page={{ comments.number}}" title="第{{ comments.number}}页">第{{ comments.number}}页</a>
  
{% if comments.has_next %}
<a href="?page={{ comments.next_page_number }}" title="下一页">下一页</a> 

{% endif %}
</div>
